<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Bravo team for all questions and concern at the 
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">contact page</a>.
</p>